:root {
	--primary-light: #FAF4EA;
	--primary-dark: #31261A;
	--primary-brand: #819B57;
	--secondary-brand: #465929;
	--secondary-dark: #A18268;
	--secondary-light: #CFCFBC;
}

$bp-mobile: 481px;
$bp-tablet: 769px;
$bp-desktop: 1280px;