.bakers-section {
	&__title span {
		display: block;
	}
	
	&__title {
		position: relative;
		margin: 0 auto;
	}
	
	&__title::before,
	&__title::after {
		@media screen and (min-width: $bp-desktop) {
			content: '';
			position: absolute;
			display: block;
			width: 352px;
			bottom: 24px;
			border-bottom: 2px solid var(--secondary-light);
		}
	}
	
	&__title::before {
		left: 0;
	}
	
	&__title::after {
		right: 0;
	}
}

.bakers-list {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	flex-direction: column;
	gap: 25px;
	flex-wrap: wrap;

	@media screen and (min-width: $bp-tablet) {
		flex-direction: row;
		gap: 48px 30px;
		padding-top: 80px;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: 16px;

		@media screen and (min-width: $bp-tablet) {
			gap: 30px;
			flex-basis: calc((100% - 30px) / 2);
		}
	}
	
	&__image {
		max-width: 140px;
		border-radius: 4px 4px 4px 200px;
		box-shadow: -10px 10px 0 0 var(--primary-light), -10px 10px 0 2px var(--secondary-dark);

		@media screen and (min-width: $bp-desktop) {
			max-width: 210px;
			box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--secondary-dark);
		}
	}
	
	&__title {
		font-size: 24px;
		font-weight: 600;

		@media screen and (min-width: $bp-tablet) {
			font-size: 40px;
		}
	}
	
	&__text {
		flex-basis: 335px;
		font-size: 14px;

		@media screen and (min-width: $bp-desktop) {
			font-size: 18px;
		}
	}
	
	&__text * {
		margin-bottom: 8px;

		@media screen and (min-width: $bp-desktop) {
			margin-bottom: 16px;
		}
	}
	
	&__text *:last-child {
		margin-bottom: 0;
	}
}