.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
	max-width: 450px;
    height: 100%;
    background-color: var(--primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 1;
    padding: 16px 24px;

    &::after {
        content: '';
        width: 180px;
        height: 240px;
        background-image: url(../images/modal-bread.png);
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: 0;

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
				background-image: url(../images/modal-bread@2x.png);
			}
    }

    &.is-open {
        transform: translate(0);
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: transparent;
        border: none;
        padding: 0;
        fill: var(--primary-dark);
        cursor: pointer;

        &:hover {
            fill: var(--primary-brand);
        }
    }


    @media screen and (min-width: $bp-desktop) {
        display: none;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__logo svg * {
        fill: var(--primary-dark);
        transition: fill 0.3s;
    }

    &__logo:hover svg * {
        fill: var(--primary-brand);
    }

    &__link {
        color: var(--primary-dark);
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 16px;
        transition: color 0.3s;
    }

    &__link:hover {
        color: var(--primary-brand);
    }
}