.traditions-section {
	display: flex;
	justify-content: space-between;
	gap: 36px;

	&__text-block {
		max-width: 710px;
	}
	
	&__image {
		display: block;
		max-height: 470px;
		border-radius: 400px 400px 0 0;
	}

	&__text {
		margin: 42px 0 0;

		&--limited {
			max-width: 340px;
		}
	}
}