.button {
	display: block;
	background-color: var(--primary-brand);
	color: var(--primary-light);
	padding: 10px 24px;
	font-weight: 600;
	border: 2px solid var(--primary-brand);
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s;

	@media screen and (min-width: $bp-tablet) {
		font-size: 18px;
		padding: 16px 32px;
	}
}

.button:hover {
	background-color: var(--primary-light);
	color: var(--primary-brand);
}