.section-title {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.3;
}

.brand-color {
	color: var(--primary-brand);
}

.brand-color-dark {
	color: var(--secondary-brand);
}

.uppercase {
	text-transform: uppercase;
}

.plain-text {
	margin: 42px 0 0;
}